:host {
  width: 100%;
  display: block;
  margin-top: 1rem;
}


.example-viewport{
  height: 740px;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #a3b8a9;
  display: flex;
 }
 .list{
  height: 70px;
  border: 1px solid #a3b8a9;
  justify-content: center;
  align-items: center;
 }
 h3{
  margin-top: 17px;
 }



 .custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
